body {
    background-color: burlywood;
}

.badge {
    position: relative;
    width: fit-content;
    border-radius: 50%;
    background-color: #f8f9fa;
    padding: 16px;
    margin: 8px;
}

.badge__count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.badge-square {
    display: inline-block;
    padding: 8px;
    background-color: #f8f9fa;
    border-radius: .25rem;
    margin: 8px;
}
