<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tooltip</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="tooltip">Tooltip top
        <span class="tooltip-text tooltip-top">Tooltip text</span>
    </div>
    <div class="tooltip">Tooltip down
        <span class="tooltip-text tooltip-bottom">Tooltip text</span>
    </div>
    <div class="tooltip">Tooltip right
        <span class="tooltip-text tooltip-right">Tooltip text</span>
    </div>
    <div class="tooltip">Tooltip left
        <span class="tooltip-text tooltip-left">Tooltip text</span>
    </div>
</body>
</html>
