<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Mensagens de Alerta</h1>
    <div class="alert --danger" role="alert">
        <span class="icon fas fa-exclamation-triangle"></span>
        <span class="closebtn fas fa-times" onclick="this.parentElement.style.display='none';" role="button"></span>
        <strong>Perigo!</strong> Indica uma ação perigosa ou potencialmente negativa.
    </div>
    <div class="alert --success" role="alert">
        <span class="icon fas fa-check-circle"></span>
        <span class="closebtn fas fa-times" onclick="this.parentElement.style.display='none';" role="button"></span>
        <strong>Sucesso!</strong> Indica uma ação bem-sucedida ou positiva.
    </div>
    <div class="alert --info" role="alert">
        <span class="icon fas fa-info-circle"></span>
        <span class="closebtn fas fa-times" onclick="this.parentElement.style.display='none';" role="button"></span>
        <strong>Info!</strong> Indica uma mudança ou ação informativa neutra.
    </div>
    <div class="alert --warning" role="alert">
        <span class="icon fas fas fa-exclamation-circle"></span>
        <span class="closebtn fas fa-times" onclick="this.parentElement.style.display='none';" role="button"></span>
        <strong>Aviso!</strong>  Indica um aviso que pode precisar de atenção..
    </div>
</body>
</html>
