.alert {
    margin: 8px 0;
    padding: 20px;
    color: white;
}

.alert.--danger {
    background-color:#f44336;
}

.alert.--success {
    background-color: #4DB986;
}

.alert.--info {
    background-color: #51A9F5;
}

.alert.--warning {
    background-color: #FFAA46;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 1.25rem;
    line-height: 1.1;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }

  .icon {
      font-size: 1.2rem;
      margin-right: 8px;
      opacity: 0.7;
  }
